html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #000 50%, #fff 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  border-radius:.25em;
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes bobble {
  0% { transform: translateY(0px); }
  43% { transform: translateY(-30px); }
  100% { transform: translateY(0px); }
} 

@keyframes shadow {
  0% { transform: scale(0.75, 0.45);
        opacity: 1.0;
  }
  43% { transform: scale(1.0,0.6);
        opacity: 0.7; 
    }
  100% { transform: scale(0.75,0.45);
    opacity: 1.0; }
} 
.content svg {
    width: 200px;
    margin: auto;
}

#theBall {
    animation: bobble 4s ease-in-out infinite;
}
#shadow {
    transform-origin: -134px bottom;
    animation: shadow 4s ease-in-out infinite;
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
